
#box{
    height: 600px;
    width: 100%;
    border-style: solid;
}
#pic{
	width: 8%;
	margin-top: 525px;
}
#box2{
    height: 50px;
    width: 50px;
    background-color: red;
    margin-left: 200px;
    position: absolute;
}